<% @recipes.each do |recipe| %>
<a href="/recipes/<%= recipe.id%>"><%= recipe.id %>.</a>
   Name: <%= recipe.name %><br>
   Ingredients: <%= recipe.ingredients %><br>
   Cook Time: <%= recipe.cook_time %><br>
<% end %>